body {
    margin: 0;
    padding: 0;
}

.container {
    width: 991px;
    
    background-color: #0846A0;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    width: 100%;
    text-align: center;
}

.content {
    background-color: #0F6DD7;
    float: left;
    width: 70%;
}

.right-col {
    width: 30%;
    float: left;
    background-color: rgb(196, 75, 3);
  
}

.right-col ul li {
    text-decoration: none;
    list-style: none;
}

.right-col ul li a {
    display: block;
    text-decoration: none;
    width: 50%;
    border: 1px solid rgb(235, 70, 16);
    text-align: center;
}

@media screen and (max-width: 960px) {

    .container {
        width: auto;
    }

}

@media screen  and (max-width: 767px){
    
    .content {
        width: 100%;
    }
    
    .right-col {
        width: 100%
    }

}


